<%- include("partials/header") -%>


<div class="home-wrapper">
    <video id="background-video__home" autoplay loop muted poster="https://wiki.hoyolab.com/_nuxt/videos/bg_aggregate_pc.d812676.webm">
        <source src="https://wiki.hoyolab.com/_nuxt/videos/bg_aggregate_pc.d812676.webm" type="video/mp4">
        </video>
    <div class="container">
        <div class="home-contents">
            <div class="home-image">
                <img src="https://bbs.hoyolab.com/hoyowiki/picture/character/%E9%9B%B7%E7%94%B5%E5%B0%86%E5%86%9B/avatar.png" alt="" srcset="">
            </div>
            <div class="home-texts">
                <div class="home-header">
                    <h1>Genshinwiki</h1>
                </div>
                <div class="home-description">
                    <p>Your best companion for your Genshin Impact Account</p>
                </div>
            </div>
            <div class="home-links">
                <a class="links" href="/primogems">Primogems</a>
                <a class="links" href="/resin">Resin</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
             <div class="row">
                <div class="col-4 col-md-4 col-sm-6 footer-box">
                    <h3>Services</h3>
                    <ul class="footer-contents">
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-4 col-sm-6 footer-box">
                    <h3>Services</h3>
                    <ul class="footer-contents">
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-4 col-sm-12 footer-box">
                    <h3 class="bigger-header">GenshinWiki</h3>
                    <p>Your best companion to keep track on your Genshin Account.We do not have any connection with Hoyoverse.</p>
                </div>
             </div>
             <div class="social-icons">
                <ul>
                    <a href="#"><i class='bx bxl-facebook-circle bx-md'></i></a>
                    <a href="#"><i class='bx bxl-instagram bx-md'></i></a>
                    <a href="#"><i class='bx bxl-twitter bx-md'></i></a>
                    <a href="#"><i class='bx bxl-youtube bx-md'></i></a>
                </ul>
             </div>
             
        </div>
    </footer>
   
</div>
<!-- <div class="content">
    <img src="https://picsum.photos/300/300/?random" />
  </div> -->



<%- include("partials/footer") -%>